.video-js.vjs-fluid:not(.vjs-audio-only-mode) {
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.video-js {
    .vjs-tech {
        width: 100% !important;
        height: 100% !important;
        top: 0 !important;

        @media only screen and (max-width: $media-sm) {
            height: 70vh !important;
            width: 113.6rem !important;
            left: 50% !important;
            top: 50% !important;
            transform: translate(-50%, -37%);

        }
    }
}